<p>
  candidates-search {{title}}
</p>

<!--
<div class="col-md-4">
  <div class="form-group">
    <input type="text" [(ngModel)]=cityName class="form-control" id="usr">
    <button type="button" (click)=searchCity($event) class="btn btn-info">search</button>
  </div>
</div>
<div class="col-md-4">
  <h4>Temperature: {{cityTemp}} </h4>
</div>-->
<!--<button (click)="performSearch()">Search</button>-->
<!--<form (submit)="searchCandidate()">-->

<input type='texte' class='form-control' [(ngModel)]="searchStr" name="searchStr" #searchTerm>
<br>
<button class='btn btn-primary btn-lg' (click)="performSearch(searchTerm)">Search</button>
<!--</form>-->
